<!DOCTYPE html>
<html>
<head>
  <title>CAT</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
  <body>
    <div class="container">
      <h1>CAT</h1>
      <h3>A Discord bot that sends you cats</h3>
      <a href="https://discord.com/api/oauth2/authorize?client_id=984821896547815476&permissions=534723950656&scope=bot">Invite me to your server!</a>
    </div>
  </body>
</html>
